
/* TODO: CUSTOM CURSORS */

body {
    cursor: url('UI_Libraries/default_cursor.png'), auto;}
input[type=text] {
    cursor: url('UI_Libraries/text_cursor.png'), auto!important;}
.slider,
.slider::-webkit-slider-thumb,
.slider::-moz-range-thumb {
    cursor: url('UI_Libraries/grab_cursor.png'), auto!important;}
e:hover {
    cursor: url('UI_Libraries/hover_cursor.png'), auto!important;}

/* TODO: URL ELEMENTS */

#logo {
    width: 100%;
    justify-content: center;
    text-align: center;
    padding: 15px 0 0 0 ;
}

/* TODO: RENDER CSS & SCALING */

#floor, #danceFloor, #foreground {
    position:           absolute;
    image-rendering:    -moz-crisp-edges;
    image-rendering:    pixelated;}

#floor, #danceFloor {
    background-repeat:      repeat;
    object-fit:             none;
    background-position:    top left;

    top:   -350px;
    width:  calc(72px * 10);
    height: calc(72px * 10); }
#foreground {
    width:  216px;
    margin:-6px 0 0 168px; }

/* TODO: GENERAL CHARACTER CSS */

#transform {
    position:   relative;
    top:        280px;
    transform:  scale(var(--scaler));
    margin-top: calc((var(--scaler) * 86px) * -1);}
#playerModel {
    image-rendering:    -moz-crisp-edges;
    image-rendering:    pixelated;}
#playerModel,
#playerModel > *,
#playerModel > * > *,
#shadow {
    position:   absolute;}

:root {
    --offsetLeft : 264px;
}

#playerModel {
    left:   var(--offsetLeft);
    top:    74px;
    width:  24px;
    height: 30px; }
#shadow {
    left:   var(--offsetLeft);
    top:    72px;
    width:  24px;
    height: 27px; }

#head, #body {
    position:   absolute;
    object-fit: none;}

/* TODO: CONSUMABLES & CHARACTER EQUIPMENT */

#hat,#weapon,#ring, #boots,
#torch, #charm, #hip, #shovel {
    width:      24px;
    height:     24px;
    object-fit: none;}
#shovel {
    left:   1px; }
#consumables {
    top:    6px; }
#spell {
    left:   22px; }
#equipment {
    margin:-6px 0 0 0;
    left:   7px; }
#item {
    left:  -7px; }
#special {
    position:   absolute;
    object-fit: none;
    z-index:    10;

    object-position:    0 0;}

#shield {
    width:  24px;
    height: 24px;
    top:    4px;

    object-fit: none;
    position:   absolute;}
#shield.up {
    margin:             -9px 0 0 0;
    z-index:            0;
    object-position:   -72px 0;}
#shield.right {
    margin:             -2px 0 0 16px;
    z-index:            10;
    object-position:    0 0;}
#shield.down {
    margin:             9px 0 0 0;
    z-index:            20;
    object-position:   -24px 0;}

/* TODO: TOGGLEABLE */

.flip {
    transform:          scaleX(-1);}
.mirror {
    transform:          scaleX(-1);
    translate:          0.5px 0;}
.invisible {
    display:            none !important}
