
/* TODO: CUSTOM CURSORS */

body {
    cursor: url('UI_Libraries/default_cursor.png'), auto;}
input[type=text] {
    cursor: url('UI_Libraries/text_cursor.png'),    auto!important;}
.slider,
.slider::-webkit-slider-thumb,
.slider::-moz-range-thumb {
    cursor: url('UI_Libraries/grab_cursor.png'),    auto!important;}
e:hover {
    cursor: url('UI_Libraries/hover_cursor.png'),   auto!important;}

/* TODO: RENDER CSS & SCALING */

#playerModel,
#playerModel > *,
#playerModel > * > *,
#shadow {
    position:       absolute;}

#transform {
    top: 50%;
    left: 50%;
    margin: 0 0 0 -1px;
    position:   relative;}

#playerModel,
#shadow,
#transform {
    width:              24px;
    height:             24px!important;
    image-rendering:    -moz-crisp-edges;
    image-rendering:    pixelated;}

#floor,
#danceFloor,
#foreground {
    top: 50%;
    left: 50%;
    -ms-transform:  translate(-50%, -50%);
    transform:      translate(-50%, -50%);

    width:  216px;
    height: 168px;

    position:           absolute;
    image-rendering:    -moz-crisp-edges;
    image-rendering:    pixelated;}
#floor,
#danceFloor {
    margin: 7px 0 0 0;

    background-repeat:      repeat;
    object-fit:             none;
    background-position:    top left;}
#foreground {
    margin: -8px 0 0 0;}

#shadow {
    margin: 2px 0 0 -1px;}
#playerModel {
    height:             24px!important;
    image-rendering:    -moz-crisp-edges;
    image-rendering:    pixelated;}

.mirror {
    -ms-transform:  scaleX(-1)!important;
    transform:      scaleX(-1)!important;}

#head, #body {
    position:   absolute;
    object-fit: none;}

/* TODO: CONSUMABLES & CHARACTER EQUIPMENT */

#hat,#weapon,#ring, #boots,
#torch, #charm, #hip, #shovel {
    width:      24px;
    height:     24px;
    object-fit: none;}
#shovel {
    left:   1px; }
#consumables {
    top:    6px; }
#spell {
    left:   22px; }
#equipment {
    margin:-6px 0 0 0;
    left:   7px; }
#item {
    left:  -7px; }
#special {
    position:   absolute;
    object-fit: none;
    z-index:    10;

    object-position:    0 0;}

#shield {
    width:  24px;
    height: 24px;
    top:    4px;

    object-fit: none;
    position:   absolute;}
#shield.up {
    margin:             -9px 0 0 0;
    z-index:            0;
    object-position:   -72px 0;}
#shield.right {
    margin:             -2px 0 0 16px;
    z-index:            10;
    object-position:    0 0;}
#shield.down {
    margin:             9px 0 0 0;
    z-index:            20;
    object-position:   -24px 0;}