
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
:root{
    --scaler : 10; --imageW: 0; --imageH: 0; --columns:0; --rows:0;

/* TODO: WINDOW SIZE SETTINGS */

    --tablePadding: 15px;
    --window1Height: 680px; --window2Height: 680px; --window3Height: 465px; --window4Height: 64px; --window6Height: 64px;
    --window1Width: 580px; --window2Width: 324px; --window3Width: 218px; --window5Width: 250px;}

body { margin: 0; padding: 0 }

body {
    background-color: black; color:white;
    font-family: 'Silkscreen', cursive;
    letter-spacing: -2px; font-size:14px}

/* TODO: TABLE SIZE SETTINGS */

table { padding:var(--tablePadding)}
table .mid img {width:24px} /* table image resolutions */
table > tr > th {height:24px; width:24px}
table .top img {height:24px}

container {padding:var(--tablePadding) var(--tablePadding); width:var(--window1Width);
    margin: var(--tablePadding) 0 0 calc(2px + var(--tablePadding))}
controller div:first-of-type {margin: 13px 0 13px 0}

.tb1 .top img, .tb2 .top img, .tb2 .top img {height:24px}
container, table {position:absolute}
.tb1 .top img {width:calc(var(--window1Width) - 40px + (var(--tablePadding) * 2))} /* container width */
.tb1 .mid img {height:var(--window1Height)}
container.tb1 options { width:var(--window1Width) }

.tb2 {left: calc(var(--window1Width) + (var(--tablePadding) * 3))} /* set this the same as the thing above + 50*/
.tb2 .top img, .tb2 {width:calc(var(--window2Width) - 40px + (var(--tablePadding) * 2))}
.tb2 .mid img {height:var(--window2Height)}
container.tb2, container.tb2 options { width:var(--window2Width) }

.tb3 {left: calc(var(--window1Width) + var(--window2Width) + (var(--tablePadding) * 6))} /* set this the same as the thing above + 50*/
.tb3 .top img, .tb3 {width:calc(var(--window3Width) - 40px + (var(--tablePadding) * 2))}
.tb3 .mid img {height:var(--window3Height)}
container.tb3, container.tb3 options { width:var(--window3Width) }

.tb4 {left: calc(var(--window1Width) + var(--window2Width) + (var(--tablePadding) * 6));
    top: calc(var(--window3Height) + (var(--tablePadding) * 4))} /* set this the same as the thing above + 50*/
.tb4 .top img, .tb4 {width:calc(var(--window3Width) - 40px + (var(--tablePadding) * 2))}
.tb4 .mid img {height:var(--window4Height)}
container.tb4, container.tb4 options {width:var(--window4Width)}

container.tb3 e {width:80px; margin: 0 10px 10px 0!important; display:inline-table}
container.tb3 e:nth-child(even){margin: 0 0 10px 0!important}

.tb6 {left: calc(var(--window1Width) + (var(--tablePadding) * 3));
       top: calc(var(--window2Height) + (var(--tablePadding) * 4))}
.tb6 .top img, .tb6 {width:calc(var(--window2Width) - 40px + (var(--tablePadding) * 2))}
.tb6 .mid img {height:var(--window6Height)}

.footer {position:absolute;
    left:calc(var(--window1Width) + var(--window2Width) + (var(--tablePadding) * 7));
    top:calc(var(--window3Height) + var(--window4Height) + 135px)}

.tb5 {left: calc(var(--window1Width) + var(--window2Width) + var(--window3Width) + (var(--tablePadding) * 8));
    width:calc(var(--window5Width) - 40px + (var(--tablePadding) * 2))}

/* TODO: MENU SETTINGS */

cont { margin:10px 0; display: block}
cont options, options setin {display: inline-table}
cont options { padding:5px 0}
options > div {padding:0 0 10px 0}
options > div:last-of-type { padding: 0 0 7px}

debug {position: absolute; display: inline; margin: -2px 0 0 10px}

/* button over toggle */
e { padding:5px 10px; margin:0 5px; display: inline-block;
    color: #fff; border: solid 2px #fff; background-color: #000;}
e:hover { background-color: #696969FF}
e.inv, e:active { color: #000; background-color: #fff; border: solid 2px #000}
e.inv { border: solid 2px #fff} e.inv:active {border: solid 2px #000}
e.deact { border: solid 2px #696969FF!important; color: #696969FF!important;
    pointer-events: none!important;}
e:first-of-type {margin: 0 4px 0 0}
e:not(:first-of-type):last-of-type {margin: 0 0 0 4px}

e t { display: flex; justify-content: center}

cont th {text-align: left;}
th, tr img {padding: 0; margin: -4px -2px}

/* TODO: RENDER CSS & SCALING */

render {position:absolute!important; overflow: hidden}

#crop { position: relative; overflow: hidden; margin: 13px 0 13px 0;
    margin-left: -2px; border: 2px solid rgba(255,255,255,0.5); width: var(--window1Width); }
#crop, render{
    image-rendering: -moz-crisp-edges; image-rendering: pixelated;
    width: var(--window1Width); height: 543px}

#transform { position:relative; top: 370px;}

#floor, #danceFloor {
    image-rendering: -moz-crisp-edges; image-rendering: pixelated;
    background-position: top left; left: 14.5px; top: -350px;
    width: calc(72px * 10); height: calc(72px * 10); position:absolute; }
#foreground {
    position:absolute; width:216px; margin: -5px 0 0 182.5px; }

/* TODO: Character css */

#playerModel {position: absolute; left: 278.5px; top:77px; width: 24px; height: 30px; }

#headContainer, #bodyContainer {
    height: var(--imageH); width: var(--imageW);
    float: left; position:absolute; overflow:hidden}
#head, #body{position:absolute; width:calc(var(--imageW) * var(--columns))}
#body{height:calc(var(--imageH) * var(--rows))}

#hat {background-image: url("items/hat.png")}
#boots {background-image: url("items/boots.png")}
#charm {background-image: url("items/charm.png")}
#wrist {background-image: url("items/ring.png")}
#hip {background-image: url("items/hip.png")}
#hat, #boots, #charm, #wrist, #hip{ width: 24px; height: 24px;
    image-rendering: -moz-crisp-edges; image-rendering: pixelated; position:absolute}

#weapon {background-image: url("items/weapon.png")}
#shovel {background-image: url("items/shovel.png")}
#torch {background-image: url("items/torch.png")}
#weapon, #shovel, #torch { width: 24px; height: 24px;
    image-rendering: -moz-crisp-edges; image-rendering: pixelated; position:absolute}
#weapon, #charm{top:0; left:0; z-index:1000; position:absolute; width:24px}
#charm {top:calc(1px)}

#spell {background-image: url("items/hat.png")}
#equipment {background-image: url("items/hat.png")}
#food {background-image: url("items/hat.png")}
#spell, #equipment, #food {
    image-rendering: -moz-crisp-edges; image-rendering: pixelated; position:absolute}


/* TODO: UI CONTAINERS */

.slider {height: 3px; background: #fff}
.slider::-webkit-slider-thumb,.slider::-moz-range-thumb {
    -webkit-appearance: none; appearance: none;
    width: 8px; height: 24px; border-radius: 0;
    background: #000; cursor: pointer; border: 2px solid #fff}
#bpmSlider {width:calc(var(--window2Width) - 3px)}
#scaleSlider {width:calc(var(--window3Width))}

#trackContainer { padding:10px; margin:0;
    width:calc(var(--window2Width) - (12px * 2)); height: 90px;
    color: #fff; border: solid 2px #fff; background-color: #000}

:root { --backgroundCol : 3; --backgroundColPad : 5px}

#clothing e { width: 8px }
#clothing tr e { width: 35px; height:35px}

#backgrounds e {margin: 0 var(--backgroundColPad); padding:0;
    width:calc((var(--window2Width) / var(--backgroundCol)) - 11px)!important;
    background-size:200%; height:56px!important;
    image-rendering: -moz-crisp-edges; image-rendering: pixelated;}
#backgrounds e:first-of-type {margin: 0 var(--backgroundColPad) 0 0}
#backgrounds e:last-of-type {margin: 0 0 0 var(--backgroundColPad)}

#backgrounds t {z-index: 10; padding: 0 7px 2px}
#backgrounds e.inv t {background-color:#fff}
#backgrounds e:active t {background-color:#000; color:#fff}
#backgrounds e t {position: absolute}

#backgrounds > div {vertical-align: top;
    position: relative; display: inline-flex}

.invisible { opacity:0!important}