
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
:root{
    --scaler : 14; --size: 24;
    --frameDef: 1;
    --imageW: 24px; --imageH: 24px; --columns:16; --rows:15;

/* TODO: WINDOW SIZE SETTINGS */

    --window1Height: 660px; --window2Height: 660px; --window3Height: 465px;
    --window1Width: 450px; --window2Width: 282px; --window3Width: 218px}

#head, #body{
    position:absolute; width:calc((var(--imageW) * var(--columns)) * var(--scaler))}
#body{
    height:calc((var(--imageH) * var(--rows)) * var(--scaler))}
#weapon, #charm{
    image-rendering: -moz-crisp-edges; image-rendering: pixelated;
    top:0; left:0; z-index:1000;
    position:absolute; width:calc(25% * var(--scaler))}
#charm {top:calc(1px * var(--scaler))}

#headContainer, #bodyContainer {
    top: calc((var(--window1Width) - (var(--imageH) * 14)) - 20px);
    left: calc(((var(--window1Width) / 2)) - ((var(--imageW) * var(--scaler)) / 2));
    height: calc(var(--imageH) * var(--scaler));
    width: calc(var(--imageW) * var(--scaler));
    float: left; position:absolute; overflow:hidden}

body {
    background-color: black; color:white;
    font-family: 'Silkscreen', cursive;
    letter-spacing: -2px; font-size:14px}

/* TODO: RENDER CSS & SCALING */

render {position:absolute!important; overflow: hidden}

#crop { position: relative; overflow: hidden;
    width: var(--window1Width) ;
    /* the + 1 is just for floor space at the bottom of the image. */
    border: 2px solid rgba(255,255,255,0.5)}
#crop, render{
    image-rendering: -moz-crisp-edges; image-rendering: pixelated;
    width: var(--window1Width); height: 527px}

#floor{
    image-rendering: -moz-crisp-edges; image-rendering: pixelated;
    width: calc(72px * 10); height: calc(216px * 10);
    left: calc(-72px / 0.53); /*TODO: the multiplier here is dogshit */
    position:absolute; background-size: 100%;}

/* TODO: TABLE SIZE SETTINGS */

table { padding:10px }
table .mid img {width:24px} /* table image resolutions */
table > tr > th {height:24px; width:24px}
table .top img {height:24px}

.tb1 .top img, .tb2 .top img, .tb2 .top img {height:24px}
container, table {position:absolute}
.tb1 .top img {width:var(--window1Width)} /* container width */
.tb1 .mid img {height:var(--window1Height)}

.tb2 {left: calc(var(--window1Width) + 60px)} /* set this the same as the thing above + 50*/
.tb2 .top img, .tb2 {width:var(--window2Width)}
.tb2 .mid img {height:var(--window2Height)}

.tb3 {left: calc(var(--window1Width) + var(--window2Width) + 110px)} /* set this the same as the thing above + 50*/
.tb3 .top img, .tb3 {width:var(--window3Width)}
.tb3 .mid img {height:var(--window3Height)}

/* TODO: MENU SETTINGS */

cont { margin:10px 0; display: block}
cont options, options setin {display: inline-table; position: relative}
cont options { padding:5px 0}
options > div {padding:0 0 10px 0}
options > div:last-of-type { padding: 0 0 7px}

/* button over toggle */
e { padding:5px 10px; margin:0 5px; display: inline-block; position: relative;
    color: #fff; border: solid 2px #fff; background-color: #000}
e.inv, e:active {color: #000; background-color: #fff; border: solid 2px #000}
e.inv {border: solid 2px #fff} e.inv:active {border: solid 2px #000}
e:first-of-type {margin: 0 4px 0 0}
e:not(:first-of-type):last-of-type {margin: 0 0 0 4px}

e t {display: flex;justify-content: center; z-index:10;position: relative}

#clothing e{white-space: nowrap; width: 8px}
#clothing tr e { width: 35px; height:35px}

container {padding:24px; width:var(--window1Width)}
cont th {text-align: left;}
th, tr img {padding: 0; margin: -4px}

controller div:first-of-type, #crop {margin: 13px 0 13px 0}

.slider {width:calc(var(--window2Width) - 3px); height: 3px; background: #fff}
.slider::-webkit-slider-thumb,.slider::-moz-range-thumb {
    -webkit-appearance: none; appearance: none;
    width: 8px; height: 24px; border-radius: 0;
    background: #000; cursor: pointer; border: 2px solid #fff}

#trackContainer { padding:10px; margin:0;
    width:calc(var(--window2Width) - (12px * 2)); height: 90px;
    color: #fff; border: solid 2px #fff; background-color: #000}

:root { --backgroundCol : 3; --backgroundColPad : 5px}

#backgrounds e {margin: 0 var(--backgroundColPad); padding:0;
    width:calc((var(--window2Width) / var(--backgroundCol)) - 11px)!important;
    background-size:200%; height:56px!important;
    image-rendering: -moz-crisp-edges; image-rendering: pixelated;}
#backgrounds e:first-of-type {margin: 0 var(--backgroundColPad) 0 0}
#backgrounds e:last-of-type {margin: 0 0 0 var(--backgroundColPad)}

#backgrounds t {z-index: 10; padding: 0 7px 2px}
#backgrounds e.inv t {background-color:#fff}
#backgrounds e:active t {background-color:#000; color:#fff}
#backgrounds e t {position: absolute}

#backgrounds > div {vertical-align: top;
    position: relative; display: inline-flex}

.invisible { opacity:0!important}

container.tb3 cont {}
container.tb3 e {width:80px; margin: 0 10px 10px 0!important; display:inline-table}
container.tb3 e:nth-child(even){margin: 0 0 10px 0!important}

.footer {position:absolute;
    left:calc(var(--window1Width) + var(--window2Width) + (var(--imageW) * 4) + 20px);
    top:calc(var(--window3Height) + (var(--size) * 3px))}