
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
:root{
   --scaler : 4;}

/* TODO: WINDOW SIZE SETTINGS */

body {
    margin: 0;
    padding: 0;

    background:     black;
    color:          white;

    font-family:    'Silkscreen', cursive;
    letter-spacing: -2px;
    font-size:      14px}

#refreshButton > * {
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;

    width:      14px;
    height:     14px;
    top:        2px;
    position:   relative;}
#refreshButton:active > * {
    filter:     invert(1);}

.rightFloat {
    margin: 0 10px 0 0!important;
    float:      right}

/* TODO: BUTTON CSS */

d {
    line-height: 100%;
    display: block;
    margin: 10px 0 5px 0;}

d:first-of-type {
    margin:    0 0 10px 0;}

e {
    padding:    5px clamp(5px, 10px, 10px);
    display:    inline-block;

    color:      #fff;
    border:     solid 2px #fff;
    background: #000; }
e:hover {
    background: #696969FF;}

.inv, e:active {
    color:      #000;
    background: #fff;
    border: solid 2px #000}
.inv {
    border: solid 2px #fff}
e.inv:active {
    border: solid 2px #000}

.deact {
    border: solid 2px #696969FF!important;
    color:  #696969FF!important;

    pointer-events: none!important;}
e:not(:first-of-type):last-of-type {
    margin:     0}

e t {
    display:            flex;
    justify-content:    center}

.flex {
    gap: clamp(5px, 10px, 10px);
    max-width:  100%;
    display:    flex;}

.flex e {
    width: 100%;
    flex-basis: fit-content;
    margin: 0 auto;
    flex-grow: 1;
    text-align: center;}
.flex  e:first-child {
    margin: 0 auto 0 0;}
.flex  e:last-child{
    margin: 0 0 0 auto;}

.cenText {
    text-align: center;}

.flexGrid {
    min-width:  100%;
    display:    grid;
    gap:        10px;
    flex-wrap:  wrap;}

.buttons {
    margin:     0 -10px -10px 0;
    font-size:  0;}
.buttons > e {
    margin-right: 10px;
    font-size: 14px;}

#clothing tr e {
    width:      35px;
    height:     35px}

/* TODO: URL CONTAINERS */

#urlData > div > div {
    padding:    0 0 10px 0;
    margin:     0 9.5px 0 0;}
#urlData > div > div:last-of-type {
    margin:     0 0 0 0;}
.invalid {
    background: black!important;
    animation: blinker 0.5s linear infinite;}

input[type=text] {
    padding:    5px 10px;
    display:    inline-block;
    width:      calc(100% - 24px);

    color:      #fff;
    border:     solid 2px #fff;
    background: #000;

    font-family:    'Silkscreen', cursive;
    letter-spacing: -2px; }

input[type=text]:focus {
    outline-style:  none;
    box-shadow:     none;
    border-style:   double;

    background:     #fff;
    color:          #000;}
input[type=text].invalid {
    color: white;
    background: darkred;}

@keyframes blinker {
    from, to {  border-color: darkred; color: red;}
    49% {       border-color: darkred;}
    50% {       border-color: red;}}

/* TODO: TRACK LIST */

#trackContainer {
    padding:    10px;
    height:     90px;

    color:      #fff;
    border:     solid 2px #fff;
    background: #000;
    display: block;}

/* TODO: SCALING DATA */

.slider {
    height:     3px;
    background: #fff}
.slider::-webkit-slider-thumb,
.slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance:         none;

    width:  8px;
    height: 24px;

    cursor:         pointer;
    border-radius:  0;
    background:     #000;
    border:         2px solid #fff;}

/* TODO: BACKGROUND BUTTONS */

#backgrounds > div {
    gap:        10px;
    display:    flex;}

#backgrounds e {
    padding:    0;
    width:      33%;
    height:     56px!important;

    background-size:    200%;
    image-rendering:    -moz-crisp-edges;
    image-rendering:    pixelated;}

#backgrounds e t {
    position:   absolute;
    z-index:    10;
    padding:    0 7px 2px}
#backgrounds e.inv t {
    background: #fff}
#backgrounds e:active t {
    background: #000;
    color:      #fff}

/* TODO: DEBUG SIZE SETTINGS */

#debug {
    line-height: calc(100% + 3px);
    display:    inline-block;}

.slider {
    width: 100%;}
#bpmCounter {
    padding:    0 20px 0 5px;
    display:    inline-block;}
.bpm {
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
    position:   relative;
    display:    inline-table;
    margin:     0 0 0 5px;
    width:      48px;
    height:     44px }
.bpm:first-child {
    margin:     0}

.bpm > img {
    position:   absolute;
    width:      inherit;
    height:     inherit}

.beat {
    transform:  scale(1.5);
    -webkit-animation:  scale-up-center .4s cubic-bezier(.39,.575,.565,1.000) both;
    animation:          scale-up-center .4s cubic-bezier(.39,.575,.565,1.000) both}

@-webkit-keyframes scale-up-center{
    0%{
        transform:          scale(1.5);}
    100%{
        transform:          scale(1);}}
@keyframes scale-up-center{
    0%{
        transform:          scale(1.5);}
    100%{
        transform:          scale(1);}}