
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

/* TODO: WINDOW SIZE SETTINGS */

body {
    margin:         0;
    padding:        0 0 10px 10px;

    color:              white;
    font-family:        'Silkscreen', cursive;
    letter-spacing:    -2px;
    font-size:          0;

    background:     black;
    cursor:         url('../UI_Libraries/default_Cursor.png'), auto;
}

/* TODO: General streamline formatting */

img {   /* alt text settings */
    font-size:  11px!important;          }

/* text generics */

a { cursor:             url('../UI_Libraries/text_Cursor.png'), auto!important;
    text-decoration:    2px underline;
    color:              #b700ff;        }
u { text-decoration:    2px underline;  }
p { padding:            0;
    margin:             0;
    display:            inline-block;   }

/* TODO: UNIQUE ATTRIBUTE ASSIGNING */

d { /* titles */
    line-height: 100%;
    display:    block;
    margin:     10px 0 5px 0;}
d:first-of-type {
    margin:     0 0 10px 0;}
d:only-of-type {
    margin:     0 0 5px 0;}

ln { /* forces new line with text if contained in */
    display:    block;}

/* TODO: General styling fixes */

div + div:not(.inline) { /* forces inline with other div elements */
    padding:    10px 0 0 0;}
.inline {
    display:        inline-block;
    white-space:    nowrap;
}

.rightFloat {
    float:      right}
.centerFloat {
    text-align: center;}

/* TODO: ========== */
/* TODO: BUTTON CSS */
/* TODO: ========== */

/* TODO: GENERICS */
/* generic button setup */

e {
    padding:    5px 8px;
    display:    inline-block;
    white-space: nowrap;
    color:      #fff;
    border:     solid 2px #fff;
    background: #000;}
e:hover {
    cursor:     url('../UI_Libraries/hover_Cursor.png'),   auto!important;
    color:      #000;
    border:     solid 2px #000;
    background: #c4c4c4;}
e:active {
    color:      #fff;
    background: #696969FF;}
e:active > img {
    filter:     invert(1);
}

/* generic class states */

.pressed {
    color:      #000;
    background: #fff;
    border:     solid 2px #fff;}

.deactivate {
    border:     solid 2px #696969FF;
    color:      #696969FF;

    transition: color ease-out 1s;
    animation:  deblink 0.5s ease-out;

    pointer-events: none!important;}
.flippant:not(.deactivate) {
    animation:  reblink 0.5s ease-out;}

.invalid {
    background: black!important;
    color:      red!important;
    animation:  blinker 0.5s linear infinite;}

/* TODO: PRESSED STATES */

e.pressed:hover {
    color:      #fff;
    border:     solid 2px #fff;}
e.pressed:not(.tog):active {
    border:     solid 2px #000;}
e.pressed > img {
    filter:     invert(1);
}

/* TODO: BUTTON GRID SETS */

/* flex button grid */

.flex {
    gap:        10px;
    max-width:  100%;
    display:    flex;}

.flex e {
    width:      100%;
    margin:     0 auto;
    flex:       content;
    text-align: center;}

/* generic adaptable grid */

.buttons {
    font-size:  0;}
.buttons > e {
    margin:     0 10px 0 0;
    font-size:  14px;
}
.buttons > .rightFloat {
    margin:     0;
}

/* TODO: =========== */
/* TODO: INPUT TYPES */
/* TODO: =========== */

/* TODO: URL CONTAINERS */

input[type=text] {
    padding:        3px 10px 5px 10px;
    display:        inline-block;

    width:          152px;
    min-width:      -moz-available;
    min-width:      -webkit-fill-available;

    border:         solid 2px #fff;
    background:     #000;
    cursor:         url('../UI_Libraries/text_Cursor.png'), auto!important;

    color:          #fff;
    font-family:    'Silkscreen', cursive;
    letter-spacing: -2px;
}
input[type=text]:focus {
    outline-style:  none;
    background:     #fff;
    color:          #000;
}
input[type=text]:active {
    outline-style:  none;
    color:          #fff;
    background:     #696969FF;
}

/* TODO: CLASS & ANIMATION TOGGLES */

input[type=text].invalid {
    color:          white;
    background:     darkred;
}
input[type="text"].flippant:not(.deactivate):not(.invalid) {
    animation:      reblink 0.5s ease-out;
}
input[type="text"].deactivate {
    border:         solid 2px #696969FF;
}

/* TODO: SCALING DATA */
/* range track */

input[type="range"],                                    /* Default */
input[type="range"]::-moz-range-track,                  /* Firefox */
input[type="range"]::-webkit-slider-runnable-track {    /* Chrome, Safari, Edge */
    height:         3px;
    width:          100%;

    background:     #fff;
    cursor:         url('../UI_Libraries/grab_Cursor.png'), auto;

    -webkit-appearance:     none;                       /* Chrome, Safari, Edge specific */
    width:                  -webkit-fill-available;     /* Firefox specific */
}

/* range thumb */

input[type="range" i]::-moz-range-thumb,
input[type="range" i]::-webkit-slider-thumb {
    appearance:     none;
    border-radius:  0;
    background:     #000;
    border:         2px solid #fff;
}

input[type="range" i]::-moz-range-thumb {                 /* Firefox */
    width:          8px;
    height:         24px;}
input[type="range" i]::-webkit-slider-thumb {             /* Chrome, Safari, Edge */
    width:          12px;
    height:         28px;
    -webkit-appearance: none;
}

/* TODO: ======================= */
/* TODO: GENERIC ANIMATION SETUP */
/* TODO: ======================= */

/* warning / error */
@keyframes blinker {
    0% {    border-color:   darkred;}
    49% {   border-color:   darkred;}
    50% {   border-color:   red;}
    100% {  border-color:   darkred;}}

/* element disable */
@keyframes deblink {
    0% {    border:         2px solid darkred;
            color:          red;}}

/* element enable */
@keyframes reblink {
    0%  {   border:         2px solid green;
            color:          lawngreen;}
    20%  {  border:         2px solid green;
            color:          palegreen;}}