
/* TODO: General refactoring */

panel {
    vertical-align: top;
    display:        inline-block;
    position:       relative;

    font-size:  14px;
    padding:    0 10px 0 0;
}
table {
    width:      max-content;
    width:      -moz-available;
    min-width:  -webkit-fill-available;
    width:      fill-available;

    max-width:  inherit;
}
table,
panel > div {
    padding: 10px 0 0 0;
}

/* TODO: TABLE VISUALS */

th {
    transition: height .5s ease-in-out;
    text-align: left;
    padding:    0;}

/* table body borders resolution prefixes */

tbody > tr:not(:nth-child(2)) > th:first-of-type,
tbody > tr:nth-child(2) >       th:not(:nth-child(2)),
tbody > tr:not(:nth-child(2)) > th:last-of-type {
    width:      22px;
}
tbody > tr:not(:nth-child(2)) > th:not(:nth-child(2)) {
    height:     22px;
    display:    block;
}

/* table body borders */

tbody > tr:not(:nth-child(2)) > th:nth-child(2) {
    width:              100%;
    background-repeat:  repeat-x;
    background-image:   url("../UI_Libraries/border_Top.png");
}
tbody > tr:nth-child(2) >       th:not(:nth-child(2)) {
    background-image:   url("../UI_Libraries/border_Left.png");
    background-repeat:  repeat-y;
}
tbody > tr:not(:nth-child(2)) > th:not(:nth-child(2)) {
    background-image:   url("../UI_Libraries/border_Corner.png");
}

/* TODO: IMAGE TRANSFORMATION */
/* side flip transformation */

tbody > tr:last-of-type >       th:nth-child(2) {
    transform:      scale(100%, -100%);
}
tbody > tr:nth-child(2) >       th:last-of-type{
    transform:      scale(-100%, 100%);
}

/* corner rotation transformation */
tbody > tr:first-of-type > th:first-of-type {
    transform:      rotate(0deg  );
    margin:         0 -3px -3px 0;
}
tbody > tr:first-of-type > th:last-of-type  {
    transform:      rotate(90deg );
    margin:         0 0 -3px -3px;
}
tbody > tr:last-of-type  > th:first-of-type {
    transform:      rotate(270deg);
    margin:         -3px -3px 0 0;
}
tbody > tr:last-of-type  > th:last-of-type  {
    transform:      rotate(180deg);
    margin:         -3px 0 0 -3px;
}

tbody > tr > th > div {
    margin:         -4px;
    width:          initial;
    font-weight:    normal;
    background:     black;
    position:       relative;
    z-index:        100000;
}

/* TODO: ==================== */
/* TODO: INTERNAL TABLE SETUP */
/* TODO: ==================== */

.innerTable {
    color:      #fff;
    background: #000;
    border:     solid 2px #696969FF;

    padding:    8px 10px 10px 10px;
    display:    block;
}