
/* TODO: incompatibility fallback widths */

:root{
    --textBoxWidth:     152px;
    --debugBoxWidth:    245px;
}

/* TODO: General refactoring */

body {
    font-size:  0;}
panel {
    vertical-align: top;
    display:    inline-block;
    position:   relative;

    font-size:  14px;
    padding:    0 10px 0 0;}

table {
    width:      max-content;
    width:      -moz-available;
    min-width:  -webkit-fill-available;
    width:      fill-available;

    max-width:  inherit;}

table, panel > div { padding: 10px 0 0 0;}

/* TODO: Table Visuals */

th {
    transition: height .5s ease-in-out;
    text-align: left;
    padding:    0;}

tbody > tr:not(:nth-child(2)) > th:nth-child(2) {
    width:              100%;
    background-repeat:  repeat-x;}

tbody > tr:nth-child(2) > th:not(:nth-child(2)) {
    background-repeat:  repeat-y;}

tbody > tr:last-of-type > th:nth-child(2) {     transform: scale(100%, -100%);}
tbody > tr:nth-child(2) > th:last-of-type{      transform: scale(-100%, 100%);}

tbody > tr:not(:nth-child(2)) > th:first-of-type,
tbody > tr:nth-child(2) > th:not(:nth-child(2)),
tbody > tr:not(:nth-child(2)) > th:last-of-type {
    width:      22px;}

tbody > tr:not(:nth-child(2)) > th:not(:nth-child(2)) {
    height:     22px;
    display:    block;}

tbody > tr:first-of-type > th:first-of-type {   transform: rotate(0deg  ); margin: 0 -3px -3px 0;}
tbody > tr:first-of-type > th:last-of-type  {   transform: rotate(90deg ); margin: 0 0 -3px -3px;}
tbody > tr:last-of-type  > th:first-of-type {   transform: rotate(270deg); margin: -3px -3px 0 0;}
tbody > tr:last-of-type  > th:last-of-type  {   transform: rotate(180deg); margin: -3px 0 0 -3px;}

tbody > tr > th > div {
    margin:         -4px;
    width:          initial;
    font-weight:    normal;
    background:     black;
    position:       relative;
    z-index:        100000;}

.innerTable {
    color:      #fff;
    background: #000;
    border:     solid 2px #696969FF;

    padding:    8px 10px 10px 10px;
    display:    block;}

/* TODO: unique table types */

#logo {
    justify-content: center;
    text-align:     center;
    display:        flex;}

.navigation {
    padding:        10px 18px 0 18px;
    margin:         0 0 0 auto;
    max-width:      min-content;
    white-space:    nowrap;}
.navigation e {
    margin-left: 10px;}

#crop {
    image-rendering:    -moz-crisp-edges;
    image-rendering:    pixelated;
    overflow:           hidden;

    height:     534px;
    width:      calc(100% - 4px);
    border:     2px solid rgba(255,255,255,0.5);}

#trackContainer {
    height:     90px;}
#charDebug {
    word-wrap:  break-word;
    max-height: 420px;
    overflow: scroll;
    width:      var(--debugBoxWidth);
    min-width:  -moz-available;
    min-width:  -webkit-fill-available;}
#debugTable {
    height: min-content;
    transition:
        opacity 1s cubic-bezier(.05, .69, .14, 1)
        height 1s cubic-bezier(.05, .69, .14, 1);
}

#debugTable .flex e:only-child {
    max-width: fit-content;
    margin: 0 0;
}